@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

p {
    line-height: 1.5;
}

section {
    padding: 120px 0 70px 0;
    height: 100%; 
}

@keyframes observer-left {
    0%   {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes observer-right {
    0%   {transform: translateX(100%);}
    100% {transform: translateX(0);}
}

header {
    position: fixed;
    width: 100%;
    height: 90px;
    background: #cac8af;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    transition: .3s;
    z-index: 10000;
}

.sticky {
    top: 1;
    z-index: 10000;
    padding: 0 50px;
    background: #427d68;
}

.logo {
    margin: 0 20px;
    display: flex;
}

.logo img {
    width: 65px;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #000;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #333;;
    display: block;
    font-size: 1.1rem;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul li a.active {
    background: #7e9577;
}

.nav-bar ul li a:hover {
    background: #a4ac91;
}

.wave-main {
    z-index: 100;
}

.home-section {
    padding-top: 0;
    background-color: #cac8af;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-section .home img {
    width: 680px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    position: relative;
    z-index: 100;
    filter: drop-shadow(1px 1px 10px #888);
    animation: floating 4s ease-in-out infinite;
    transform-origin: 50% 50%;
}
  
@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
}

.home {
    padding-top: 15vh;
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-home {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.text-home h1 span {
    color: #e4573c;
}

.text-home h1 {
    color: #cac8af;
    text-transform: uppercase;
    font-size: 5rem;
    padding: 0px 0;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000;
    position: relative;
}

.text-home h4 {
    text-shadow: 1px 1px 3px #427d68;
    font-size: 2rem;
    padding: 30px 0;
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.text-home h4 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.text-home h4 .word {
    position: absolute;
    display: flex;
    opacity: 0;
    padding-left: 7px;
}

.text-home h4 .word .letter {
    transform-origin: center center 25px;
}

.text-home h4 .word .letter.out {
    transform: rotateX(90deg);
    transition: .32s cubic-bezier(.6, 0, .7, .2);
}

.text-home h4 .word .letter.in {
    transition: .8s ease;
}

.text-home h4 .word .letter.behind {
    transform: rotateX(-90deg);
}

.w-1 {
    color: #e4573c;
}

.w-2 {
    color: #076a5f;
}

.text-home p {
    font-size: 1.2rem;
}

.wave-home {
    position: relative;
    z-index: -1;
}

.wave-fill-home {
    background-color: #8ba283;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    top: -100px
}

.about-us-section {
    height: 70vh;
    background-color: #8ba283;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.slider {
    max-width: 80%;
    position: relative;
    margin: auto;
    width: 600px;
    height: 500px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    vertical-align: middle;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,.6);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000;
}

.numbertext {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.dots .active, .dot:hover {
    background-color: #666;
}

.dots {
    text-align: center;
    padding-top: 20px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.text-about-us {
    width: 100%;
    max-width: 600px;
    padding: 0 10px 60px 10px;
}

.text-about-us h1 {
    text-shadow: 3px 3px #427d68;
    color: #cac8af;
    font-size: 5rem;
    padding: 0px 0;
    z-index: 100;
    padding: 30px 0;
}

.text-about-us p {
    font-size: 1.2rem;
}

.wave-fill-about-us {
    background-color: #8ba283;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    top: -200px
}

.events-section {
    padding: 90px 0;
    background-color: #688f74;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.events {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-events {
    width: 600px;
    max-width: 100%;
    padding: 0 20px 50px 20px;
}

.text-events h1 {
    text-shadow: 3px 3px #427d68;
    color: #fff;
    font-size: 5rem;
    z-index: 100;
}

.text-events h4 {
    text-shadow: 2px 2px 3px #427d68;
    color: #fff;
    font-size: 2rem;
    padding: 30px 0;
}

.text-events p {
    font-size: 1.2rem;
}

.events img {
    width: 550px;
    max-width: 100%;
    height: auto;
    padding: 25px 10px;
    position: relative;
    z-index: 100;
    border-radius: 100%;
}

.wave-fill-events {
    background-color: #688f74;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    top: -180px;
}

.tomato-section {
    padding: 90px 0;
    background-color: #acb597;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tomato {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-tomato {
    width: 600px;
    max-width: 100%;
    padding: 0 20px 50px 20px;
}

.text-tomato h1 {
    text-shadow: 3px 3px #427d68;
    color: #fff;
    font-size: 5rem;
    z-index: 100;
}

.text-tomato h4 {
    text-shadow: 2px 2px 3px #427d68;
    color: #fff;
    font-size: 2rem;
    padding: 30px 0;
}

.text-tomato p {
    font-size: 1.2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    position: relative;
    z-index: 100;
}

.card-video1, .card-video2 {
    margin: 15px;
    width: 300px;
    height: 410px;
    background-color: #cac8af;
    border-radius: 15px;
    box-shadow: 10px 10px 14px 1px rgba(0,0,0,.2);
    transition: .5s ease-in-out;
}

.card-video1:hover, .card-video2:hover {
    transform: translateY(-5px);
}

.card-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
    height: 150px;
    margin-bottom: 15px;
}

.card-img1 {
    background: url(/images/video-1.jpg);
    background-size: cover;
}

.card-img2 {
    background: url(/images/video-2.jpg);
    background-size: cover;
}

.card-container h2 {
    text-shadow: .5px .5px 1px #427d68;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.card-container p {
    margin: 15px;
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.card-container button {
    width: 200px;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
}

.card-container a {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.card-container button:hover {
    background-color: #333;
    letter-spacing: 2px;
    color: #fff;
}

.wave-fill-tomato {
    background-color: #acb597;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    top: -180px
}

.contact-section {
    background-color: #688f74;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mail-contact {
    width: 550px;
    max-width: 95%;
    height: auto;
    padding: 0;
    margin-right: 10px;
}

.contact {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-contact {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

form {
    max-width: 650px;
    width: 100%;
    background-color: #cac8af;
    box-shadow: 10px 10px 14px 1px rgba(0,0,0,.2);
    margin: 10px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
}

input, textarea {
    margin: 12px 0;
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
    transition: .3s ease;
}

.send {
    background-color: #e8e4ec;
}

.send:hover {
    background-color: #acb597;
}

.text-contact h1 {
    text-shadow: 3px 3px #427d68;
    color: #cac8af;
    font-size: 5rem;
    padding: 0;
}

.text-contact h4 {
    text-shadow: 3px 3px #427d68;
    color: #cac8af;
    font-size: 2rem;
    padding: 30px 0;
    margin-bottom: 0px;
}

.text-contact p {
    font-size: 1.2rem;
}

.mail-contact h1 {
    text-shadow: 2px 2px 3px #427d68;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #333;
}

.spacer {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
} 

.layer1 {
    max-height: 300px;
    background-image: url(/images/layered-waves-footer.svg);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #427d68;
    color: #fff;
    padding: 20px;
}

.footer-text {
    flex: 1 1 60%;
    text-align: center;
}

.footer-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
  
.footer-img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
  
.footer-img-1 {
    width: 120px;
    height: 150px;
    margin-right: 43px;
    margin-left: 43px;
}
  
.footer-img-2 {
    width: 93px;
    height: 200px;
    margin-left: 120px;
}

.footer-img-3 {
    width: 250px;
    height: 250px;
    margin-left: 120px;
}

.footer-img-4 {
    width: 250px;
    height: 250px;
    margin-right: 43px;
    margin-left: 43px;
}

.footer-social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #fff;
}

.footer-social i {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    max-width: 100%;
    height: auto;
    margin: 20px 20px 0 20px;
    transition: .3s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    color: transparent;
}

.footer-bottom {
    background-color: #076a5f;
    width: 100vw;
    padding: 20px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.footer-bottom p {
    display: flex;
    flex-flow: row;
    color: #fff;
    font-size: 1.05rem;
}

.footer-copyright {
    margin-left: 20px;
}

.footer-by {
    margin-right: 40px;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
    opacity: .4;
    transition: .3s;
    margin-left: 5px;
}

.footer-bottom a:hover {
    text-decoration: none;
    color: #999;
    opacity: 1;
}

@media screen and (max-width:1366px) {
    header {
        padding: 0 50px;
    }

    .sticky {
        padding: 0 55px;
    }

    .home-section .home img {
        display: none;
    }

    .text-home {
        text-align: center;
    }

    .slogan {
        padding-right: 6.6rem;
    }

    .about-us-section {
        height: 120vh;
        padding: 0;
        max-height: 900px;
    }

    .about-us {
        flex-wrap: wrap-reverse;
    }

    .text-about-us {
        text-align: center;
    }

    .events-section {
        padding: 0;
        padding-bottom: 20px;
    }

    .text-events {
        text-align: center;
    }

    .text-tomato {
        text-align: center;
    }

    .text-contact {
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    html {
        scroll-padding-top: 90px;
    }

    header {
        padding: 0 30px;
    }

    .sticky {
        padding: 0 35px;
    }

    .logo {
        margin: 0 5px;
        display: flex;
    }
    
    .logo img {
        width: 65px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #427d68;
        transition: .2s;
        z-index: 100;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 330px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-top: 20px;
        background: #a4ac91;
    }

    .text-home h1 {
        font-size: 3.65rem;
    }

    .wave-home {
        min-height: 0vh;
        position: relative;
        z-index: -100;
    }

    .about-us-section {
        min-height: 1050px;
    }

    .text-about-us h1 {
        width: 100%;
        font-size: 4rem;
    }

    .prev, .next {
        top: 40%;
        padding: 10px;
    }

    .slider {
        height: auto;
        min-height: 230px;
    }

    .events img {
        padding: 0 10px 25px 10px;
    }

    .tomato-section {
        padding: 10px 0 30px 0;
    }

    .text-tomato h1 {
        font-size: 3.5rem;
    }

    .text-tomato h4 {
        font-size: 1.5rem;
    }

    .contact-section {
        padding: 10px 0 0px 0;
    }

    .text-contact h1 {
        font-size: 4rem;
    }

    .text-contact h4 {
        font-size: 1.5rem;
    }
    
    .footer-img-1 {
        width: 90px;
        height: 110px;
        margin: 20px;
    }
    
    .footer-img-2 {
        width: 70px;
        height: 150px;
        margin: 20px;
    }
    
    .footer-img-3 {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .footer-img-4 {
        width: 120px;
        height: 120px;
        margin: 20px;
    }    

    .footer-bottom p {
        font-size: .8rem;
    }

    .footer-copyright {
        text-align: justify;
        width: 40%;
    }

    .footer-by {
        margin-right: 10px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}